:root {
  --white: #fff;
  --black: #111;
  --yellow: yellow;
  --blue: #0000ff;
  --grey: #ededed;
}
html {
  background-color: var(--white);
  color: var(--black);
  font-size: 100%;
  font-family: sans-serif;
}
* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p {
  padding: 0 .75rem;
}
h1 {
  display: block;
  max-width: 700px;
  margin: 2rem auto;
  padding: 4rem 0;
  color: var(--white);
  background: var(--black);
  font-size: 3rem;
  text-align: center;
}
h2 {
  max-width: 650px;
  margin: 3rem auto 4rem;
  font-size: 2.75rem;
}
h6 + h2 {
  margin-top: .125rem;
}
h3 {
  max-width: 600px;
  margin: 3.25rem auto 1.75rem;
  font-size: 1.75rem;
}
h4 {
  max-width: 550px;
  margin: 2rem auto 1rem;
  font-size: 1rem;
  text-transform: uppercase;
}
h5 {
  max-width: 550px;
  font-size: 1rem;
}
h6 {
  max-width: calc(650px - 1.5rem);
  margin: 0 auto;
  padding: 1.5rem .5rem;
  color: var(--white);
  background: var(--black);
  font-size: .8rem;
}
p {
  max-width: 550px;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 200;
  line-height: 2;
}
hr {
  margin: 2rem auto;
  border: none;
  border-bottom: 1px solid var(--grey);
}
pre {
  max-width: calc(550px - 2rem);
  margin: 1.25rem auto 2rem;
  padding: .75rem 1rem;
  background: var(--grey);
  overflow: scroll;
}
code {
  padding: .125rem;
  background: var(--grey);
}
pre code {
  line-height: 1.375;
}
ul {
  list-style: none;
}
ol {
  max-width: 550px;
  margin: 2rem auto;
  padding: 0 .75rem 0 2rem;
  font-weight: 100;
  list-style: decimal outside;
}
ol li {
  margin-bottom: 1.375rem;
  line-height: 1.4;
}
table {
  width: calc(100% - 1rem);
  max-width: 550px;
  margin: 1rem auto;
  border-collapse: collapse;
}
th, td {
  padding: .3rem .75rem;
  border: 1px solid var(--black);
  vertical-align: top;
}
th {
  background: var(--grey);
}
td {
  font-weight: 200;
  line-height: 1.25;
}
td code {
  padding-right: .8rem;
  font-weight: 800;
  background: transparent;
}
td strong {
  font-size: .85rem;
}
a {
  font-weight: 600;
}
button, input[type="submit"] {
  padding: .25rem;
  color: var(--white);
  background: var(--blue);
  font-size: 1rem;
  border: none;
  border-radius: 8px;
}
input {
  font-size: 1rem;
}
nav {
  position: sticky;
  top: 0;
  height: 100px;
  width: 100%;
  max-width: 2.5rem;
  margin: 0 auto;
  background: transparent;
  z-index: 25;
  transition: max-width .125s;
}
nav.active {
  max-width: 100%;
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: .25rem solid var(--yellow);
  border-left: .25rem solid var(--yellow);
}
nav.active ul {
  border: none;
}
nav ul li {
  display: block;
  height: 10px;
  width: 100%;
  margin: 0;
  background: var(--yellow);
  border-bottom: .2rem solid var(--black);
  transition: max-height .25s;
}
nav ul li:first-child {
  margin-top: 0;
}
nav ul li:last-child {
  height: calc(10px - .2rem);
  border-bottom: none;
}
nav.active ul li {
  height: auto;
}
nav ul li a, nav ul li button {
  display: block;
  width: 100%;
  color: var(--black);
  text-align: center;
  border-radius: 0;
  opacity: 0;
  pointer-events: none;
}
nav.active ul li a, nav.active ul li button {
  padding: 1rem;
  /*background: transparent;*/
  opacity: 1;
  pointer-events: all;
}
nav ul li button {
  padding: 0;
  color: var(--white);
}
section {
  margin-bottom: 3rem;
}
article p {
  margin-bottom: 1.75rem;
}
article em {
  font-size: 1.35rem;
  font-style: normal;
  line-height: 1.7;
}
article em:before {
  content: "◼︎";
  position: absolute;
  left: -1.75rem;
  color: var(--grey);
}
article ul {
  max-width: 550px;
  margin: 2rem auto;
  padding: 0 .75rem 0 2rem;
  font-weight: 100;
  list-style: disc;
}
article ul li {
  margin: 0 auto 1rem;
}

p.large {
  font-size: 2.125rem;
  line-height: 1.5;
}
section p.large {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.centered {
  text-align: center;
}
.logo {
  height: 80px;
  width: 80px;
}
.logo-small {
  position: fixed;
  top: .15rem;
  left: .15rem;
  height: 1.65rem;
  width: 1.65rem;
  opacity: 0;
  transition: all 1s;
}
.logo-small.active {
  opacity: 1;
}

header {
  padding: 1.25rem 2rem 0;
}
footer {
  padding: 4rem;
}
footer p {
  font-size: .8rem;
}
header #masthead {
  display: block;
  margin: 0 auto;
}
header #masthead svg {
  display: block;
  max-height: 275px;
  max-width: 275px;
  margin: 0 auto;
}

@media (hover: hover) {
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  button, input[type="submit"] {
    color: var(--black);
    background: var(--yellow);
  }
  button:hover, input[type="submit"]:hover {
    color: var(--white);
    background: var(--blue);
  }
  nav ul li button {
    color: var(--black);
  }
}
@media (prefers-color-scheme: dark) {
  html {
    /*color: var(--white);
    //background-color: var(--black);*/
    filter: invert(1);
  }
}